/*
@include Sm {
    .W_F{
        float: none;
        width:100%;
    }

    .h2{
        font-size: $font_size - 1;
       
    }
    .p{
        font-size: $font_size - 1.5;
    }
    .item-position{
        padding: 1.5rem 0;
    }
    header{
        position: static;
        text-align: center;
      
            ul{
                display: block;
            }
        }
        
    .service{
        .service-parent{
            grid-template-columns: repeat(2,1fr);
        }
    }

    .images{
        grid-template-columns: repeat(2,1fr);
    }

}*/

@media (max-width:1199px){
    .W_F{
        width:55%;
    }

    .W_F2{
        width:45%;
    }
   
    .h2{
        font-size: $font_size - .7;
    }
    .p{
        font-size: $font_size - 1.5;
    }
    .item-position{
        padding: 6.5rem 0;
    }
    header{
            ul{
                display: flex;
                padding: 10px !important;
            }
        }

        .home{
            .homecontent{
                top: 51%;
                left:30%;
                p{
                    padding:0 100px;
                }
            }
           
        }
        .need{
            p{
                padding:0 50px;
            }
        }
    .service{
        .service-parent{
            grid-template-columns: repeat(2,1fr);
        }
    }
    .images{
        grid-template-columns: repeat(3,1fr);
    } 
    .in_touch{
         .map{
             img{
                 width:100%;
                 height: 280px;
             }
         }
     }

     .drop {
        form {
            .form-input input{
                width: 100%;
                input[type=submit]{
                    font-size: 10px;
                    width: 100px;   
                    padding: 7.5px;
                }
             }
        }
     }
     .footer {
        p{
            margin: .2rem 0;
        }
    }
         
}

@include Sm{
    .W_F{
        float: none;
        width:100%;
    }

    .W_F2{
        float: none;
        width:100%;
    }
   
    .h2{
        font-size: $font_size - 1;
    }
    .p{
        font-size: $font_size - 1.7;
    }
    .item-position{
        padding: 8.5rem 0;
    }
    header{
        text-align: center;
        background-color:#222;
            ul{
                display: flex;
                padding: 10px !important;
            }
        }

        .home{
            .homecontent{
                top: 55%;
                left:36%;
            }
            p{
                padding:0 20px !important;
            }
          
        }
        .need{
            h2{
                font-size:1.5rem;
            }
            p{
                font-size:.9rem;
                padding:0 20px;
            }
        }
    .service{
        .service-parent{
            grid-template-columns: repeat(2,1fr);
        }
    }
    .images{
        grid-template-columns: repeat(2,1fr);
    } 
    .in_touch{
         .map{
             img{
                 width:100%;
                 height: 280px;
             }
         }
     }

     .drop {
        .drop-tilte{
            font-size: 1.5rem;
        }
        form {
            .form-input input{
                width: 100%;
                input[type=submit]{
                    font-size: 10px;
                    width: 100px;   
                    padding: 7.5px;
                }
             }
        }
     }
     .footer {
        p{
            font-size: .7rem;
            margin: .2rem 0;
        }
    }
         

}