/*----------------------
-COLOR:
#ffffff
#959794
#45433e
#19171a
#e9322e
-----------------------*/

$primary_color:#e9322e;
$secondary_color:#19171a;
$neutral_color:#45433e;
$link_color:#959794;
$p_color:white;
$padding:10px 0;
$home_bg:url("../img/hero-bg.jpg");
$font_size: 2.5rem;